<div class="editable">
	<h1>About</h1>

	<p>The World Wide Web, or simply the Web, is a vast and distributed system characterized by agents that manipulate resources. Due to its decentralized nature, the Web observes high diversity of resources that results into high data variety. </p>

	<b>Data Variety is the diversity of data in a problem space. In the Big Data context, it indicates the challenge of processing heterogeneous data coming from many different sources.</b>

	<p>Nowadays, agents that populate the Web environment must take data variety. The Web of Data which is the Web extension that aims at addressing the data variety challenge, using Semantic Technologies such as RDF, SPARQL, and OWL. 	Nonetheless, data variety is not the only challenge that agents have to address when manipulating Web resources. In particular, a new dimension become more and more relevant in the recent years.</p>

	<b>Data Velocity is the speed at which data are processed and insights are obtained. In the Big Data context, it indicates the challenge of processing data as soon as they are available, and before it is too late.</b>


	<p>To this extent, new protocols and APIs (e.g. WebSockets, and EventSource) have been designed to extend the Web's lowest architectural levels. However, it is worth investigating how this challenge may impact higher levels and, in particular, the Web of Data. </p>

	<p>Indeed, the Web of Data is also evolving to tame Data Velocity without neglecting Data Variety. The RDF Stream Processing (RSP) community is actively addressing these challenges by proposing continuous query languages and working prototypes.  o far, the RSP community efforts have contributed middleware, engines, and vocabularies that address the scientific and technical challenges.
	Nevertheless, a set of guidelines that showcase how to <b>reuse</b> existing resources to publish and processing streams and events on the Web is still missing.  In this paper, we propose a Cookbook for publishing and processing Streaming Linked Data. In the paper, we focus on the publication life-cycle as it is prescribed by W3C. Indeed, the problem of Streaming Linked Data publication received become more relevant and it is currently under investigation. On the other hand, the Web resource describe in details the resources and propose a series of <b>recipes</b> for processing the published streams.


	In particular, (i) We make use of <a href=/resources/triplewave>TripleWave</a>, \texttt{R2RML}/\texttt{RML}, \texttt{VoCaLS}, \texttt{RSP-QL}, as well as other resources for RDF Stream publishing and processing.  (ii) We bootstrap a catalogue of Web Streams, 
	highlighting the requirements that drove our selection of three examples of \textit{wild} streams: \texttt{DBpedia} Live changes, \texttt{Wikimedia} EventStreams, and the Global Database of Events, Language and Tone (\texttt{GDELT}). (iii) Last but not least, we open sourced our code, and make it available on for public use at \url{https://w3id.org/webstreams}.

	<h2>Authors<h2>

	<b>Riccardo Tommasini<b>
	<b>Mohamed Ragab<b>
	<b>Alessandro Falcetta<b>
	<b>Sherif Sackr<b>
	<b>Emanuele Della Valle<b>

	<p>I'm Jane Doe and welcome to my food blog. Each week I try out a new recipe and post it here to share it with the world. If you enjoy any of the recipes I post feel free to leave a comment.</p>

	<p>I grew up in Denver, Colorado and learned to bake from my mother. After finishing highschool I started baking full time and selling baked goods at local markets. Now I work full-time at a bakery in San Francisco.</p>
	<img src="https://source.unsplash.com/e05_q5pyMDs" alt="Jane Doe">
</div>
